


<ul class="list-unstyledEnqFiter components marginTop20 paddingLeft15">
    <li><a href="#" class="test"><i class="fa fa-envelope"></i></i>   New Enquiry </a></li>
    <li><a href="#" class="test"><i class="fa fa-behance" aria-hidden="true"></i></i>   Feasibility </a></li>
    <li><a href="#" class="test"><i class="fa fa-quote-left" aria-hidden="true"></i>   Quotation </a></li>
    <li><a href="#" class="test"><i class="fa fa-shopping-bag" aria-hidden="true"></i>   Purchase Orders </a></li>

    <li><a href="#" class="Master"><i class="fa fa-user" aria-hidden="true"></i> Customer Master </a></li>
    <li><a href="#" class="Master"><i class="fa fa-gavel  " aria-hidden="true"></i> Instrument Master</a></li>

</ul>
