

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>

<div class="paddingRight15 marginLeft100">
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <div id="enqFilter">
                <div>
                    @Html.Partial("_SubMenu")
                </div>

            </div>
        </div>
        <div class="col-xs-10 col-md-10">
            <div class="tablecontent">

                <div class="paddingLeft15 paddingTop15">
                    <ul class="nav nav-tabs" id="myTabs" role="tablist">
                        <li role="presentation" class="active"><a href="#CustomerList" aria-controls="CustomerList" role="tab" data-toggle="tab">Customer List</a></li>
                        <li role="presentation"><a href="#NewCustomer" class="AddCustomer" aria-controls="NewCustomer" role="tab" data-toggle="tab">New Customer</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active paddingTop15" id="CustomerList">
                            <div class="clearfix">
                                <div class="btn-toolbar pull-left" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group" role="group" aria-label="First group">
                                        <div class="btn btn-default">
                                            <div class="form-check height20Pixel">
                                                <input class="form-check-input" id="selectAll" type="checkbox">
                                                <label class="form-check-label verticalAlignTop" for="selectAll" id="count"></label>
                                            </div>
                                        </div>
                                        @*<button class="btn btn-default option" type="button"><i class="fa fa-ban" aria-hidden="true"></i> Disqualify</button>*@
                                        <button class="btn btn-default option" type="button"><i class="fa fa-envelope" aria-hidden="true"></i> Send email</button>
                                        <button class="btn btn-default option" type="button"><i class="fa fa-tag" aria-hidden="true"></i> Add tags</button>
                                        <div class="btn-group">
                                            <button class="btn btn-default dropdown-toggle option" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> More <!--span class="caret"></span--></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li class="divider" role="separator"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <form class="navbar-form pull-left marginTop0">
                                    <input class="form-control" type="text" id="CustomerFilter" placeholder="Search...">
                                </form>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown"><i class="fa fa-window-maximize" aria-hidden="true"></i> <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider" role="separator"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-primary dropdown-toggle pull-right marginRight15px" type="button" data-target=".bs-example-modal-md" data-toggle=""><i class="fa fa-plus" aria-hidden="true"></i> Customer</button>

                            </div>
                            @*partial list view*@
                            <div class="bindcustomer">
                                <div id="mgrid">
                                    @Html.Partial("_CustomerMaster")
                                </div>
                            </div>


                        </div>

                        <div role="tabpanel" class="tab-pane" id="NewCustomer">

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
             

            $('.AddCustomer').on('click', function () {
            $.ajax({
            url: "@Url.Action("AddCustomer", "Master")",
            contentType: "application/json",
            data: JSON.stringify( {

            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#NewCustomer').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
    });
    });

    $('#CustomerFilter').on('keyup', function () {

            $.ajax({
            url: "@Url.Action("LoadCustomerMaster", "Master")",
            contentType: "application/json",
            data: JSON.stringify( {
                CName: $('#CustomerFilter').val(),

            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#mgrid').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
    });

</script>


